.resort{
    margin-top: 350px;
    margin-bottom: 300px;
    text-align: center;

    &-heading{
        width: 500px;
        margin: 0 auto;
    }

    &-header{
        font-family: Satisfy, cursive;
        font-size: 3.5rem;
        color: $blue;
    }

    &-title{
        font-size: 6.5rem;
        line-height: 70px;
        margin: 0;
    }

    &-subtitle{
        margin-top: 10px;
        font-size: 1.7rem;
        line-height: 30px;
    }

    &-place{
        display: flex;
        justify-content: center;
        margin-top: 65px;
       
        &-img{
            object-fit: cover;
            height: 290px;
            width: 290px;
            transition: transform 0.4s linear;
            display: block;
            border-radius: 50%;
            
        }
        
        &-wrap{
            overflow: hidden;
            border-radius: 50%;
            filter: brightness(78%);
        }
        
        &-section{
            margin: 0 40px;
            height: 290px;
            width: 290px;
            position: relative;
        }

        &-section:hover &-img{
            transform: scale(1.05, 1.05);
            cursor: pointer;
        }
        &-name{
            position: absolute;
            color: $background;
            font-family: Satisfy, cursive;
            font-size: 5rem;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
        }
        
        &-rate{
            position: absolute;
            width: 50px;
            height: 50px;
            background-color: $blue;
            color: $background;
            top: 12px;
            right: 45px;
            font-size: 1.7rem;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 50%;
        }
    }
}